.grid-container {
  display: flex;
  grid-template-columns: 1fr, 6fr;
  text-align: left;
  color: rebeccapurple;
}

.sidebar-head {
  font-weight: bold;
  margin: 4px;
  padding: 4px;
  font-size: 1.5rem;
  color: #333
}

.sidebar-link {
  display: block;
  margin: 3px;
  padding: 3px;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

.side-link:hover {
  text-decoration: none !important;
  color: black;
}

a:hover {
  text-decoration: none !important;

}

.App-link {
  color: #09d3ac;
}